
<div class=" flex mt-32 gap-6">
    <div class="w-3/4">
       <!-- angular stepper module to style our checkout.. [linear]="true" this prevent the user from moving forward a step -->
         <mat-stepper 
               (selectionChange)="onStepChange($event)"
               [linear]="true"
               #stepper 
              class="bg-white border border-gray-200 shadow-sm">
     
          <!-- mat step to step into address giving user a completed status -->
          <mat-step label="Address" [completed]="completionStatus().address">
            <!-- stripe would automatcally created stepper address for us with intialization at compoenet.ts-->
            <div id="address-element"> </div>
             
       <!-- saving address after clicking on checkbox -->
            <div class="flex justify-end mt-1">
                <mat-checkbox [checked]="saveAddress"
                              (change)="onSaveAddressCheckBoxChange($event)" 
                class="">
                  Save as default address
                </mat-checkbox>
            </div>

            <!-- mat button for continue or continue to next stepper -->
            <div class="flex justify-between mt-6">
               <button class="z-0" routerLink="/shop" mat-stroked-button>Continue shopping</button>
               <button [disabled]="!completionStatus().address" 
                       class="z-0" 
                       matStepperNext 
                       mat-flat-button>Next</button>

            </div>
          </mat-step>

       <!-- mat step to step into Shipping -->
          <mat-step label="Shipping" [completed]="completionStatus().delivery">
          <app-checkout-delivery (deliveryComplete)="handleDeliveryChange($event)"></app-checkout-delivery>
          <div class="flex justify-between mt-6">
            <button matStepperPrevious mat-stroked-button>Back</button>
            <button [disabled]="!completionStatus().delivery"
                    matStepperNext 
                    mat-flat-button>Next</button>

         </div>
          </mat-step>

       <!-- mat step to step into Payment -->
          <mat-step label="Payment" [completed]="completionStatus().card">
           <div id="payment-element"></div>
           <div class="flex justify-between mt-6">
            <button matStepperPrevious mat-stroked-button>Back</button>
            <button [disabled]="!completionStatus().card"
                    matStepperNext
                    mat-flat-button>Next</button>

         </div>
          </mat-step>

       <!-- mat step to step into Confirmation -->
          <mat-step label="Confirmation">
           <app-checkout-review></app-checkout-review>

           <div class="flex justify-between mt-6">
            <button matStepperPrevious mat-stroked-button>Back</button>
            <button mat-flat-button>Pay {{cartService.totals()?.total| currency}}</button>
         </div>
          </mat-step> 

         </mat-stepper>
         <!-- <pre>{{completionStatus() | json}}</pre> -->
    </div>
   <!-- this will take one quater of the page -->
    <div class="w-1/4">
      <app-order-summary></app-order-summary>
    </div>
</div>
